<section class="strate-geoloc" id="geoloc" data-module="strate-geoloc">
    <div class="container">
        ${view('block-header',{
        'title': "Web Geolocalisation API"
        })}

        <div id="meteo">
            <h3 class="name tl3"></h3>

            <div>
                <div class="temperature"></div>
                <div class="temperature_feellike"></div>
                <div class="humidity"></div>
                <div class="wind_speed"></div>
            </div>

            <img src="" class="cloud">
        </div>
        
        <hr>

        <div class="geoloc" id="locate">
            <div class="geoloc-city"></div>
            <div class="geoloc-lat"></div>
            <div class="geoloc-lng"></div>
            <div class="geoloc-altitude"></div>
            <div class="geoloc-heading"></div>

            <button class="btn-location">Locate me</button>
        </div>

        <hr>

        <div id="speed">
            <div class="speed"><span>0</span><small>km/h</small> </div>

            <div class="maxspeed">Vitesse max: <span>0</span><small>km/h</small></div>

            <div class="averagespeed">Vitesse moyenne: <span>0</span><small>km/h</small></div>

            <!-- https://enjeck.com/blog/distance-two-locations/ -->
            <div class="distance"></div>
            <button class="btn-speed"></button>
        </div>
    </div>
</section>