<footer id="footer" role="contentinfo">
    <div class="container">


        <div class="header">
            <h2>Get in touch</h2>
            <a href="mailto:hello@lonsdale.fr">hello@lonsdale.fr</a>
        </div>


        <div>
            <h3>Lonsdale - Paris Office</h3>
            <div class="rte">
                <p>
                    8 rue Lavoisier<br>
                    75008 Paris – France<br>
                    +33(0)1 43 12 67 00
                </p>
            </div>
        </div>

        <div>
            <h3>Lonsdale - Singapore Office</h3>
            <div class="rte">
                <p>
                    91 Bencoolen Street<br>
                    #04-05 Sunshine Plaza<br>
                    Singapore 189652<br>
                    (+65) 6557 0684
                </p>
            </div>
        </div>

        <div>
            <h3>Sister agency - CBX</h3>
            <div class="rte">
                <p>
                    Minneapolis, New York<br>
                    <a href="https://cbx.com">cbx.com</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <img class="logo" src="assets/img/logo.svg" width='100'>
    </div>
</footer>