<section class="strate-sampler" id="sampler" data-module="strate-sampler">
    <div class="container">
        ${view('block-header',{
        'title': "Sampler"
        })}
    </div>

    <div class="samplerPads">
        <div class="padGrid">
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
            <button class="padGrid-pad" type="button"></button>
        </div>
    </div>
</section>