<header class="hero-homepage" data-module="hero-homepage">
    <div class="container">
        <h1>${args.title}</h1>
    </div>

    <button id="play">
        <img src="assets/img/clap.png" alt="">
    </button>

    <hr>

    <div class="rte container">
        Agence leader du branding et design, depuis Paris et Singapour, <b>Lonsdale accompagne toutes les marques</b> – entreprises & institutions, produits & services, lieux & enseignes – dans la définition de leur singularité, pour construire avec elles des expériences omnicanales cohérentes et performantes.
    </div>
</header>