<section class="strate-newsletter">
    <div class="container">
        <img class="visu" src="assets/img/push.svg">

        <div class="tag">Newsletter</div>

        <h2>La trendingRoom du Planning</h2>

        <div class="rte">
            <p>
                <b>Découvrez toutes les tendances à avoir à l’œil</b> pour nourrir les marques et défricher de nouvelles opportunités d’innovation, d’activation, d’expériences et d’expérimentations. Repérées par l’équipe du planning stratégique de l’agence, elles sont toutes à un seul endroit, et c’est dans la TrendRoom du Planning, un format newsletter bilingue et gratuit sur LinkedIn.
            </p>
        </div>

        <a href="">S'inscrire</a>
    </div>
</section>